@mainColor: #333;

button {
    white-space: nowrap;
    border: none;
    background-color: @mainColor;
    color: white;
    padding: 7px;
}

.TopnavButton {
    height: 100%;
    font-size: 18px;
}

.TableButton {
    width: 100%;
    height: 30px;
}

.CloseButton {
    position: absolute;
    top: 16px;
    right: 16px;
}

.LogoutButton {
    position: absolute;
    top: 66px;
    right: 16px;
}

button:hover {
    cursor: pointer;
}

.TopnavButton:hover {
    background-color: #4e4e4e;
}

#homeButton {
    margin-right: 18%;
    margin-left: 5px;
}

#exportButton {
    margin-left: auto;
    margin-right: 5px
}

.markersButton {
    margin-right: 5px;
}
.adminsButton {
    margin-left: 5px;
}

table {
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}

table th,td {
    border: 1px solid;
    padding: 7px;
}

.App {
    width: 100%;
    text-align: center;
}

.Topnav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: @mainColor;
}

.PanelPart {
    margin-top: 40px;
}

.Popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.PopupInner {
    position: relative;
    padding: 32px;
    width: 80%;
    background-color: white;
}

.ListContainer {
    display: block;
}